language: python
os: linux
dist: focal
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install tox
  - pip install codecov

script:
  - tox

after_success:
  - codecov -f coverage.xml